/* 레이아웃 */
body {background: url(../img/header_bg.jpg) repeat-x center top;}
#header {height: 327px;}
#nav {background-color: #f6fdff;}
#title {background-color: #eaf7fd;}

/* 헤더 */
.header .header_menu {text-align: right;}
.header .header_menu a {color: #ffffff; transition: color 0.3s; padding: 8px 0 6px 10px; display: inline-block; font-family: "Abel"; }
.header .header_menu a:hover {color: #ccc;}
.header .header_tit {text-align: center; text-transform: uppercase; margin-top: 55px; font-family: 'Abel', sans-serif;}
.header .header_tit h1 {font-size: 30px; color: #fff; background: #51b0dc; display: inline-block; padding: 5px 30px 5px 30px; letter-spacing: 2px; font-weight: 900; transition: box-shadow 0.40s ease-in-out;}
.header .header_tit h1:hover {box-shadow: 0px 10px 10px -0px #1A5B79; transform: translatey(-0.14rem); color: #fff;}
.header .header_tit a {transition: all 0.25s ease-in-out; font-size: 16px; color: #fff; background: #4a9abf; display: inline-block; padding: 10px 20px 10px 20px; margin-top: -7px; transition: box-shadow 0.80s ease-in-out;}
.header .header_tit a:hover {box-shadow: inset -150px 0 0 0 #fff, inset 150px 0 0 0#fff; color:#1A5B79;}

.header .header_icon {text-align: center; margin-top: 40px; padding-bottom: 40px;}
.header .header_icon li{display: inline; margin: 0 2px;}
.header .header_icon li a{font-size: 35px; position: relative; color: #fff; background: #3192bf; width: 60px; height: 60px; display: inline-block; line-height: 60px; border-radius: 50%;}
.header .header_icon li a:hover {box-shadow: 0 0 0 3px rgba(75, 154, 191, 0.9) inset, 0 0 0 10px rgba(0, 0, 0, 0.1) inset;}
.header .header_icon li a span{font-size: 12px; line-height: 1.6; position: absolute; left: 50%; top: -45px; transform: translateX(-50%); background: #3192bf; padding: 3px 9px; border-radius: 6px 0; opacity: 0;}
.header .header_icon li a:hover span {opacity: 1; top: -33px;}
.header .header_icon li a span::before {content:''; border-top: 5px solid #3192bf; border-left: 5px solid transparent; border-right: 5px solid transparent; position: absolute; left: 50%; bottom: -5px; margin-left: -5px;}

/* 전체메뉴 */
.nav {overflow: hidden; padding: 25px 0;}
.nav > div {float: left; width: 40%;}
.nav > div:last-child {width: 20%;} 
.nav > div h3 {font-size: 18px; color: #25a2d0; font-weight: bold; margin-bottom: 4px;}
.nav > div ol {overflow: hidden;}
.nav > div li {float: left; width: 50%; position: relative; padding-left: 8px; box-sizing: border-box;}
.nav > div li:before {content: ''; width: 3px; height: 3px; background: #25a2d0; border-radius: 50%; position: absolute; left: 0; top: 6px;}
.nav > div:last-child ol li {width: 100%;}
.nav > div ol li a {position: relative; transition: all 0.3s ease-out;}
.nav > div ol li a::after {content: ''; width: 0; height: 1px; background: #25aad0; position: absolute; bottom: 0; left: 0; transition: all 0.3s ease-out;}
.nav > div ol li:hover a::after {width: 100%;}

/* 타이틀 */
.title {position: relative; text-align: center;}
.title h2 {font-family: 'Nanum Brush Script'; font-size: 39px; padding: 5px 0; color: #0093bd;}
.title .btn {color: #fff; font-size: 30px; position: absolute; top: 5px; right: 0; width: 60px; height: 60px; border-radius: 50%; background: #3192bf;}
.title .btn:hover {box-shadow: 0 0 0 3px rgba(71, 154, 191, 0.9) inset, 0 0 0 100px rgba(0, 0, 0, 0.1) inset;}

/* 컨텐츠 */
#contents {}
#contents .container {border-right: 1px solid #dbdbdb; border-left: 1px solid #dbdbdb;}
#cont_left {float: left; width: 250px;}
#cont_center {overflow: hidden; min-height: 1300px; margin-right: 250px; border-right: 1px solid #dbdbdb; border-left: 1px solid #dbdbdb;}
#cont_right {position: absolute; right: 0; top: 0; width: 250px;}    


.column {padding: 15px; border-bottom: 1px solid #dbdbdb;}
.column .col_tit {font-size: 20px; color: #2f7fa6; padding-bottom: 5px;}
.column .col_desc {border-bottom: 1px dashed #dbdbdb; padding-bottom: 15px; margin-bottom: 15px; color: #878787; line-height: 18px;}
.column.col1 {}
.column.col2 {}
.column.col3 {border-bottom: 0;}
.column.col4 {}
.column.col5 {}
.column.col6 {border-bottom: 0;}
.column.col7 {}
.column.col8 {}
.column.col9 {border-bottom: 0;}

/* 메뉴 */
.menu {}
.menu li {position: relative;}
.menu li a {transition: box-shadow 0.3s ease, background 0.33s ease; font-size: 16px; text-transform: uppercase; color: #878787; border-bottom: 1px solid #dbdbdb; padding: 10px; display: block;}
.menu li a i {position: absolute; top: 15px; right: 10px;}
.menu li a:hover {box-shadow: inset 180px 0 0 0 rgba(36, 130, 174, 0.7); color: #fff; background: rgba(36,130,174,0.9);}

/* 푸터 */
#footer {border-top: 1px solid #dbdbdb; height: 200px;}

/* 게시판 */
.notice1 {position: relative;}
.notice1 h5 {font-size: 14px; color: #2f7fa6; padding-bottom: 5px;}
.notice1 li {overflow: hidden; text-overflow: ellipsis; white-space: nowrap; background: url(../img/dot.gif) no-repeat 9px 8px; font-size: 12px; border: 0; float: none; padding-left: 18px;}
.notice1 .more {position: absolute; right: 0; top: 3px; text-transform: uppercase; font-size: 10px; color: #878787; }

.notice2 {position: relative; margin-top: 15px;}
.notice2 h5 {font-size: 14px; color: #2f7fa6; padding-bottom: 5px;}
.notice2 li {display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 2; overflow: hidden; background: url(../img/dot.gif) no-repeat 9px 8px; font-size: 12px; border: 0; float: none; padding-left: 18px;}
.notice2 .more {position: absolute; right: 0; top: 3px; text-transform: uppercase; font-size: 10px; color: #878787;} 

/* 블로그 */

/* 컨테이너 */
.container {position: relative; width: 1200px; margin: 0 auto; /* background: rgba(0, 0, 0, 0.3); */}

/* 미디어쿼리 */
@media (max-width: 1220px){
    .container {width: 100%;}
    .row {padding: 0 15px;}

    #contents .container {border: 0;}
    .title .btn {right: 5px;}
}
@media (max-width: 960px){
    #cont_center {margin-right: 0px; border-right: 0;}
    #cont_right {position: static; width: 100%;} 
    .nav > div {float: none; width: 100%;}
    .nav > div:last-child {width: 100%;}
    .nav > div ol {margin-bottom: 10px;}
    .nav > div li {width: 33.333%;}
    .nav > div:last-child ol li {width: 33.333%;}

}
@media (max-width: 768px){
    #cont_left {float: none; width: 100%;}
    #cont_center {height: 400px; border-left: 0;}
}
@media (max-width: 600px){
    #header {height: auto;}
    .header .header_tit {display: none;}
    .header .header_tit a {display: none;}
    .header .header_icon {display: none;}
    .title .btn {display: none;}
    .nav {display: none;}

    .column.col1 .col_tit {display: none;}
    .column.col1 .col_desc {display: none;}
    .column.col1 {padding: 0; border-bottom: 0;}
    .column.col1 .menu ul {overflow: hidden;}
    .column.col1 .menu li {float: left; width: 33.333%; text-align: center; border-right: 1px solid #dbdbdb; box-sizing: border-box;}
    .column.col1 .menu li:nth-child(3n) {border-right: 0;}
    .menu li a {color: #fff; text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);}
    .menu li a:hover {box-shadow: none; background: rgba(36,130,174,0.3);}
    .menu li a i {display: none;}

    .column.col2 {background: #fff;}
}
