@font-face {
    font-family: 'S-CoreDream-3Light';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'S-CoreDream-1Thin';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-1Thin.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'S-CoreDream-2ExtraLight';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-2ExtraLight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'S-CoreDream-8Heavy';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-8Heavy.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ChosunKm';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/ChosunKm.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* loading */
.loading {
    position: fixed;
    left: 0; top: 0;
    width: 100%; 
    height: 100vh;
    z-index: 10000;
    display: none;
}
.loading .left {
    position: absolute;
    width: 50%;
    height: 100vh;
    left: 0; 
    top: 0vh;
    background: #fff;
    transition: top 1s ease;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: #FF4B03;
    font-family: 'Playfair Display', serif;
    padding-right: 5px;
    font-size: 17px;
}
.loading .right {
    position: absolute;
    width: 50%;
    height: 100vh;
    right: 0; 
    bottom: 0vh;
    background: #FF4B03;
    transition: bottom 1s ease;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: #fff;
    font-family: 'S-CoreDream-1Thin';
    padding-left: 5px;
    padding-top: 7px;
    text-transform: uppercase;
    font-size: 19px;
}
.loading.start .left{
    top: -100%;
}
.loading.start .right{
    bottom: -100%;
}

/* layout */
body {
    height: 100vh;
    overflow: hidden;
    position: relative;
}

/* -----사이드메뉴----- */
.menu {
    position: absolute;
    left: -50vw;
    width: 50vw;
    height: 100vh;
    background: red;
    transition: .6s ease-in-out;
    overflow: hidden;
    z-index: 2;

}
.menu.open{
    left: 0;
    transition: .6s ease-in-out; 
}

.menu--item {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 50vw;
    font-size: 120px;
    line-height: 1.2;
    padding: .1rem 0;
    text-align: left;
}

.menu--item:hover {
    left: 50px;
    transform: .6s ease-in-out;
}

@media (max-width: 767px) {
    .menu--item {
        font-size: 10vw;
        padding: 1rem 0;
    }
}

.menu--item:nth-child(n+10):before {
    content: counter(count);
}

.menu--item a {
    text-decoration: none;
    position: relative;
    z-index: 1;
    display: inline-block;
    -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    font-size: 120px;
    -webkit-appearance: none;
    background: none;
    padding: 0;
    border: none;
    outline: none;
    -webkit-box-shadow: none;
            box-shadow: none;
    color: #fff;
    font-family: 'Playfair Display', serif;
    cursor: pointer;
}

@media (max-width: 767px) {
    .menu--item button {
        font-size: 10vw;
    }
}

/* header */
#header {
    position: fixed;
    left: 0; top: 0;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}
#header h2 {
    color: #fff;
    font-family: 'Playfair Display', serif;
    flex: 0 0 100px;
    text-align: right;
    font-size: 30px;
}
#header h3 {
    color: #014AFE;
    font-family: 'S-CoreDream-1Thin';
    flex: 0 0 100px;
    text-align: left;
    font-size: 24px;
    padding-top: 6px;
    padding-left: -15px;
    text-transform: uppercase;
}
#header .nav {
    flex: 0 0 80px;
}
#header .nav .ham {
    width: 50px; height: 50px;
    background: #014AFE;
    border-radius: 50%;
    margin: 0 auto;
}
#header .nav .ham span {
    position: absolute;
    left: 50%; top: 50%;
    transform: translate(-50%, -50%);
    display: block;
    width: 20px; height: 1px;
    background: #fff;
}
#header .nav .ham span::before {
    content: '';
    width: 20px; height: 1px;
    background: #fff;
    position: absolute;
    left: 0; top: 5px;
}
#header .nav .ham span::after {
    content: '';
    width: 20px; height: 1px;
    background: #fff;
    position: absolute;
    left: 0; bottom: 5px;
}

/* wrap */
#wrap {
    height: 100vh;
}

/* about */
.about {
    position: relative;
    width: 100%;
    display: flex;
    color: #fff;
    
}
.about .left {
    width: 50%;
    height: 100vh; 
    overflow: hidden;
    background: #014AFE;
}
.about .right {
    width: 50%;
    height: 100vh; 
    overflow: hidden;
    background: #fff;
    position: relative;
}
.about .box {
    height: 100vh;
    position: absolute;
    left: 0; top: 0;
}
.about .left .box {
    width: 50%;
    height: 100vh;
    position: absolute;
    left: 0; top: 0;
}
.about .right .box {
    width: 100%;
    height: 100vh;
    position: absolute;
    right: 0; top: 0;
}
.about .left .box1 .cont {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: #000;
    height: 100%;
    font-family: 'Cinzel', serif;
    color: #fff;
    font-size: 5.3vw;
    text-align: right;
    font-weight: bold;
}
.about .right .box2 .cont {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: #000;
    height: 100%;
    color: #014AFE;
    font-family: 'S-CoreDream-1Thin';
    font-size: 5vw;
    text-align: left;
}

.about .right .box2 .cont a {
    color: #014AFE;
}

.about .left .b1 .cont {
    font-size: 17vw;
    font-weight: normal;
    margin-right: 5px;
}
.about .right .b6 .cont {
    font-size: 14vw;
    padding-top: 2vw;
    
    text-transform: uppercase;
    margin-left: 1px;
    margin-top: -18px;
    color: #014AFE;
}


/* 사이트 */
.about .right .b11-2 .cont {
    width: 100%; height: 100vh;
    /* background: #ccc; */
    background-image: url(../img/site-Mreact.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.about .left .b11 .cont {
    width: 100%; height: 100vh;
}
.about .left .b11 .cont ul {
    margin-right: 3vw;
}
.about .left .b11 .cont li {
    display: inline-block;
    text-align: left;
}
.about .left .b11 .cont li:nth-child(1) {
    font-size: 5vw;

}
.about .left .b11 .cont li:nth-child(2) {
    width: 35%;
    font-size: 2vw;
    font-family: 'S-CoreDream-1Thin';

}
.about .left .b11 .cont li:nth-child(3) {
    width: 60%;
    font-size: 0.7vw;
    font-family: 'S-CoreDream-1Thin';
    line-height: 2;
}
.about .left .b11 .cont li:nth-child(4) {
    width: 60%; 
}
.about .left .b11 .cont a {
    font-size: 0.7vw;
    font-family: 'S-CoreDream-1Thin';
    color: #fff;
}
.about .left .b11 .cont li:nth-child(5){
    width: 50%; height: 150px;
    background-image: url(../img/site-arr\ \(1\).png);
    background-repeat: no-repeat;
    background-position: right;
}
.about .left .b11 .cont .arrow a {
    font-size: 1.5vw;
    width: 100vw;
    padding-left: 5%;
    text-align: right;
    line-height: 1;
}





