// 폰트 
@font-face {font-family: "Didot";
    src: url("251039e6849ad977a8bfc40b564dce89.eot"); /* IE9*/
    src: url("251039e6849ad977a8bfc40b564dce89.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("251039e6849ad977a8bfc40b564dce89.woff2") format("woff2"), /* chrome、firefox */
    url("251039e6849ad977a8bfc40b564dce89.woff") format("woff"), /* chrome、firefox */
    url("251039e6849ad977a8bfc40b564dce89.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url("251039e6849ad977a8bfc40b564dce89.svg#Didot") format("svg"); /* iOS 4.1- */
}

@font-face {
font-family: 'S-CoreDream-1Thin';
src: ur l('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-1Thin.woff') format('woff');
font-weight: normal;
font-style: normal;
}
@font-face {
    font-family: 'S-CoreDream-2ExtraLight';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-2ExtraLight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'S-CoreDream-3Light';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'S-CoreDream-4Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-4Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'S-CoreDream-5Medium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-5Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'S-CoreDream-6Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-6Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'S-CoreDream-7ExtraBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-7ExtraBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'S-CoreDream-8Heavy';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-8Heavy.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'S-CoreDream-9Black';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-9Black.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Arita-buri-SemiBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Arita-buri-SemiBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@100;200;300;400;500;600;700;800;900&display=swap');


// 변수
$blue : #014afe;
$orange : #FF4A00;

$en-main : 'Didot';
$en-sub : 'Commissioner', sans-serif;
$ko-main : 'Arita-buri-SemiBold';
$ko-sub : 'S-CoreDream-1Thin';




//레이아웃
*{margin: 0; padding: 0;}

body {
    // position: fixed;
    width: 100vw;
    height: 100vh;
    position: relative;
    // overflow: hidden;

}
.cursor {
    position: absolute;
    left: 0; top: 0;
    width: 10px; height: 10px;
    border-radius: 50%;
    background: #000;
    z-index: 100000000000000;
}
.scroll {
    position: fixed;
    left: 10px; top: 10px;
    width: 50px; height: 50px; line-height: 50px;
    border-radius: 50%;
    border: 1px dashed #fff; 
    text-align: center; color: #fff;
    z-index: 1000000000;
}
.scroll2 {
    position: fixed;
    right: 10px; top: 10px;
    width: 50px; height: 50px; line-height: 50px;
    border-radius: 50%;
    border: 1px dashed $blue; 
    text-align: center; color: $blue;
    z-index: 1000000000;
}
#wrap {
}

// 섹션1
.container {
    display: flex;

    .menu {
        width: 4vw; height: 4vw;
        border-radius: 50%;
        background: $blue;
        position: absolute;
        left: 50%; top: 25%;
        transform: translate(-50%, -50%);
        background: $blue;
        z-index: 100000;

        span:nth-child(1) {
            position: absolute;
            left: 50%; top: 45%;
            transform: translate(-50%, -50%);
            width: 1vw; height: 1px; 
            background: #fff;
        }
        span:nth-child(2) {
            position: absolute;
            left: 50%; top: 55%;
            transform: translate(-50%, -50%);
            width: .5vw; height: 1px; 
            background: #fff;


        }
        span:nth-child(3) {
            position: absolute;
            left: 50%; top: 65%;
            transform: translate(-50%, -50%);
            width: 1vw; height: 1px; 
            background: #fff;

        }
    }

    .left{
        flex: 1 1 50%;
        width: 100vh;
        height: 1000vh;
        background-color: #014afe;
        color: #fff;
        margin-top: 0vh;
        

        .logo1 {
           text-align: right;
           font-size: 50px;
           font-family: $en-main;
        }
        h1 {
            width: 700px;
            height: 300px;
            margin-bottom: 6%;
            font-family: $ko-main;
            font-size: 75px;
            font-weight: bold;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.33;
            letter-spacing: normal;
            text-align: left;
            color: #ffffff; 
            // border: 1px solid #fff;
            word-break:keep-all;
        }
    }
    .right {
        flex: 1 1 50%;
        width: 100vh;
        height: 1000vh;
        background-color: #ffffff;
        color: #014afe;
        position: relative;
        margin-top: 0vh;
        
        .logo2 {
            width: 172px;
            height: 150px;
            object-fit: contain;
            font-family: Commissioner;
            font-size: 30px;
            font-weight: 100;
            line-height: 3;
            text-align: left;
            color: #014afe;
        }
        .img {
            width: 334px; height: 501px;
            background-image: url(../img/image15.png);
            background-size: cover;
            margin-top: 6%;
            background-attachment: fixed;
           
        }
        .img2 {
            width: 455px; height: 307px;
            background-image: url(../img/image16.png);
            background-size: cover;
            margin-top: 35%;
            background-attachment: fixed;
           
        }
        .desc {
            position: absolute;
            top: 1%; right: 2%;
            width: 50vw;
            height: 55vh;
            margin: 1vh 0;
            font-family: $ko-sub;
            text-align: right;
            font-size: 3.5rem;
            font-weight: 100;
            line-height: 1.6;
            text-align: right;
            color: #014afe;
            cursor: pointer;
        }
        .desc2 {
            position: absolute;
            top: 6%; right: 2%;
            width: 50vw;
            height: 55vh;
            margin: 1vh 0;
            font-family: $ko-sub;
            text-align: right;
            font-size: 3.5rem;
            font-weight: 100;
            line-height: 1.6;
            text-align: right;
            color: #014afe;
            cursor: pointer;
        }
        .desc3 {
            position: absolute;
            top: 11%; right: 2%;
            width: 50vw;
            height: 55vh;
            margin: 1vh 0;
            font-family: $ko-sub;
            text-align: right;
            font-size: 3.5rem;
            font-weight: 100;
            line-height: 1.6;
            text-align: right;
            color: #014afe;
            cursor: pointer;
        }
        .desc4 {
            position: absolute;
            top: 16%; right: 2%;
            width: 50vw;
            height: 55vh;
            margin: 1vh 0;
            font-family: $ko-sub;
            text-align: right;
            font-size: 3.5rem;
            font-weight: 100;
            line-height: 1.6;
            text-align: right;
            color: #014afe;
            cursor: pointer;
        }

    }

}